{% extends 'layout.html' %}

{% block title %}
quote
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/forms.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/color_scheme.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/flex_container.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/recon.css') }}">
{% endblock %}

{% block body %}
  <div class="flex-container">
    <div class="sidebar">
      <form action="{{ url_for('quote') }}" method="post">
        <div class="field">
          <p class="gen-txt">Symbol</p>
          <div class="input">
            <div class="input-icn total-center">
              <img src="{{ url_for('static', filename='/assets/icons8-stock-share-96.png') }}" alt="">
            </div>
            <input id="symbol" type="text" placeholder="SYMBOL" autocomplete = "off" name="symbol">
          </div>
        </div>

        <div class="field">
          <p class="gen-txt">View</p>
          <div class="input">
            <div class="input-icn total-center">
              <img src="{{ url_for('static', filename='/assets/icons8-information-96.png') }}" alt="">
            </div>
            <select name="view" id="view">
              {% for view in views %}
                <option value="{{ view }}">{{ view }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <input type="submit" name="quote" value="Quote" class="submit-btn right info info-border info-txt info-highlight" id="quote">
      </form>
    </div>

    <div class="information">
      {% block quote %}
      {% endblock %}
    </div>
  </div>
{% endblock %}