bcrypt==3.2.0
cachelib==0.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cmdstanpy==1.0.1
colorama==0.4.4
convertdate==2.4.0
cycler==0.11.0
Cython==0.29.30
dnspython==2.2.1
email-validator==1.1.3
ephem==4.1.3
Flask==2.0.3
Flask-Bcrypt==1.0.0
Flask-Login==0.6.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
fonttools==4.33.3
greenlet==1.1.2
gunicorn==20.1.0
hijri-converter==2.2.4
holidays==0.13
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
kiwisolver==1.4.2
korean-lunar-calendar==0.2.1
LunarCalendar==0.0.9
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib==3.5.2
multitasking==0.0.10
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
plotly==5.7.0
-e git+https://github.com/facebook/prophet.git@84132a29eb8c54976033128965a8d6426831aa4c#egg=prophet&subdirectory=python
pycparser==2.21
PyMeeus==0.5.11
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
setuptools-git==1.2
six==1.16.0
SQLAlchemy==1.4.34
tenacity==8.0.1
tqdm==4.64.0
ujson==5.3.0
urllib3==1.26.9
Werkzeug==2.0.3
WTForms==3.0.1
yfinance==0.1.70
