@media screen and (max-width: 1000px) {
    iframe {
        height: 400px;
    }
}

@media screen and (max-width: 770px) {
    iframe {
        height: 350px;
    }
}

@media screen and (max-width: 670px) {
    iframe {
        height: 300px;
    }

    .chart-container {
        margin: 0;
    }
}

.hidden-info {
    display: none;
}

.flex-cont {
    display: flex;
}

.transactions {
    margin: 10px;
    display: flex;
    justify-content: end;
}

.transactions button {
    padding: 15px 15px;
    width: 70px;
    margin: 5px;
}

.title {
    margin: 10px;
}